@charset "windows-1251";
/* CSS Document */

.rbg {margin:10px auto;text-align:left;width:1000px;}
.top,.bottom {display:block;font-size:1px;}
.rg1,.rg2,.rg3,.rg4,.rg1b,.rg2b,.rg3b,.rg4b {display:block;overflow:hidden;height:1px;}
.rg1,.rg2,.rg3,.rg4,.rg1b,.rg2b,.rg3b,.rg4b,.tin {border:0px; background:#F1EEDB;}
.rg1,.rg1b {margin:0 5px;}
.rg2,.rg2b {border-width:0 2px;margin:0 3px;}
.rg3,.rg3b {margin:0 2px;}
.rg4,.rg4b {margin:0 1px;height:2px;}
.tin {display:block;padding:0 10px;}


.indentmenu{
font: bold 13px Arial, Helvetica, sans-serif;
width: 100%;
height:30px;
border:none;
}

.indentmenu ul,.razdel{
margin: 0;
padding: 0;
height:30px;
width: 100%;

background: black url(1.gif) ;
}

.indentmenu ul li{	
display: inline;
}

.indentmenu ul li a{
height:16px;
float: left;
color: white; 
padding: 7px 11px;
text-decoration: none;
border-right: 2px solid #BC0000; 

}

.indentmenu ul li a:visited{	
color: white;
}

.indentmenu ul li a:hover{
color: white; 
height:12px;
padding: 9px 11px;
background: black url(2.gif) ;
}

.current{
margin: 0;
padding: 0;
color: white;
background: black url(2.gif) ;
}


.head {
height:90px;
}
.table {
	padding-top:5px;
	padding-bottom:5px;
	width:980px;
	border:none;
	}	
	
.ppp {font-size:3px;height:10px;
background-color:#C4C5B7;}


body {

	    /* Legacy browsers */
	    background: #374051 url(gradient.png) repeat-x top;
	    -o-background-size: 100% 100%;
	    -moz-background-size: 100% 100%;
	    -webkit-background-size: 100/% 100%;
	    background-size: 100% 100%;
	    /* Internet Explorer */
	    *background: #374051;
	    background: #374051\0/;
	    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF1A202E, endColorstr=#FF374051);
	    }
	   

.podpis {
	margin:0px; font:14px arial;text-align:center;
	color:#A1AFB6;}
	
	
	.savt {
		height:30px;
		background: #374051 url(1.gif)}

.intext {
	border: 1px #C4C5B7 solid; width:150px;height:20px;}
	
.botton {border:none; background:url(1.gif); text-align:center; color:#FFF; height:30px; font: bold 13px Arial, Helvetica, sans-serif;margin:1px;width:150px; border-radius:15px;}
.buttonl {border:none; background:url(1.gif); text-align:center; color:#FFF; height:30px; font: bold 13px Arial, Helvetica, sans-serif;margin:1px;width:30px; border-radius:15px;}
.bottonlong {border:none; background:url(1.gif); text-align:center; color:#FFF; height:30px; font: bold 13px Arial, Helvetica, sans-serif;margin:1px;width:250px; border-radius:15px;}

.line{
font: bold 13px Arial, Helvetica, sans-serif;color:#FFF;work-pasing:30px;

line-height:normal;
width: 100%;
height:30px;
border:none;
}

	
.info {font: bold 13px Arial, Helvetica, sans-serif;color:#FFF;line-height:normal;
	text-align:center;

}

.razdel{
margin: 0;
padding: 0;
height:30px;
width: 100%;
text-align:center;
background: black url(1.gif) ;
}

.razdel1{
margin: 0;
padding: 0;
height:30px;
width: 485px;
text-align:center;
background: black url(1.gif) ;
}

.sp{font: 13px Arial, Helvetica, sans-serif;color:black;line-height:normal;margin-left:415px;line-height:0px;}

.tp{font:bold 13px Arial, Helvetica, sans-serif;color:black;line-height:normal;line-height:0px; margin-left:10px;}
.tpl{font:bold 13px Arial, Helvetica, sans-serif;color:black;line-height:normal;line-height:0px; margin-right:10px; text-align:right;}

.int{font:13px Arial, Helvetica, sans-serif;color:black;line-height:normal; margin-left:10px;}
.intl{font:13px Arial, Helvetica, sans-serif;color:black;line-height:normal; text-align:right; margin-right:10px;}
.intr{font:13px Arial, Helvetica, sans-serif;color:black;line-height:normal; text-align:left; margin-left:10px;}
.intc{font:13px Arial, Helvetica, sans-serif;color:black;line-height:normal; text-align:center; margin-left:10px;}
.intlr{font:13px Arial, Helvetica, sans-serif;color:black;line-height:normal; text-align:right; margin-left:10px; margin-right:10px;}
.intbl{font:bold 13px Arial, Helvetica, sans-serif;color:black;line-height:normal; text-align:right; margin-right:10px;}
.text{font:13px Arial, Helvetica, sans-serif;color:black;line-height:normal; text-align:center;}



.delivery {
	width:100%;}
.delivery70 {
	width:70px;}
.delivery455 {
	width:455px;}



.bar
{
	padding:5px;
	text-align:center;
	background-color:#F1EEDB;
	border-radius:10px;
	position: fixed;
	top: 50%;
	left:10%;
	height: 100px;
	box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Для Safari и Chrome */
	filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=0, color=#000000);
	filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
	}
	
.bartext {font:bold 20px Arial, Helvetica, sans-serif;color:black;line-height:normal;}
.barb {width:100%;}
.bars {background:black url(1.gif);height:30px;}

p { 
display: block;
margin-bottom: 0em;
margin-top: 0em;
line-height: normal;
margin-top:5px;
margin-bottom:2px;
 }
 
 
.textfield {
	overflow: auto;
	resize: none;
	width:400px;}

.textfieldb {
	overflow: auto;
	resize: none;
	width:950px;
	height:200px;}

.block {
	display:block;
	width:98px;}
.ahtung {
	text-align:center;
	text-shadow:#666;
	color:#F00;}

.bg {
	background: #DBD8C7 url(photos.png) no-repeat center ;
	width:16px;
	height:16px;
}

.intll{font:13px Arial, Helvetica, sans-serif;color:black;line-height:normal; text-align:right; margin-right:10px; margin-top:0px;}