<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BridgeToolBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BridgeToolBox.Properties.Settings>
            <setting name="BAUDRATE" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="COMPORT" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="START_DIRECTORY" serializeAs="String">
                <value />
            </setting>
            <setting name="FREQUENCY_DOT_CHECKED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOGOMETR_CONNECT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RESERV_VALUE" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="U_MAX_VALUE" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ADDRESS_TABLE_DOT1" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ADDRESS_VOLUME_PERSENT" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ADDRESS_FREQUENCY_DOT1" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ADDRESS_NUMBER_DOT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DEVICE_ID" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="ADDRESS_FL_LOGOMETR" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ADDRESS_LOGOMETR_TYPE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ADDRESS_U_MAX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ADDRESS_RESERV" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ADDRESS_CONFIGURED" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="buttonDeviceReadDOT1" serializeAs="String">
                <value>Read from the device</value>
            </setting>
            <setting name="buttonDeviceWriteDOT1" serializeAs="String">
                <value>Delete all points</value>
            </setting>
            <setting name="buttonDeleteDot1Point" serializeAs="String">
                <value>Delete Point</value>
            </setting>
            <setting name="buttonAddDot1Point" serializeAs="String">
                <value>Add point</value>
            </setting>
            <setting name="label_V" serializeAs="String">
                <value>Volume, l</value>
            </setting>
            <setting name="labelUDOT1" serializeAs="String">
                <value>Voltage, V</value>
            </setting>
            <setting name="labelFrequencyDOT1" serializeAs="String">
                <value>Frequency, Hz</value>
            </setting>
            <setting name="F" serializeAs="String">
                <value>Frequency</value>
            </setting>
            <setting name="V" serializeAs="String">
                <value>Volume</value>
            </setting>
            <setting name="N" serializeAs="String">
                <value>№</value>
            </setting>
            <setting name="toolStripButtonConnect" serializeAs="String">
                <value>Connect</value>
            </setting>
            <setting name="toolStripLabel_com_port" serializeAs="String">
                <value>  COM Port  </value>
            </setting>
            <setting name="label_number_datch" serializeAs="String">
                <value>Number of sensors</value>
            </setting>
            <setting name="labelAllVolume" serializeAs="String">
                <value>Total volume - 0 %</value>
            </setting>
            <setting name="radioButton_FREQUENCY_DOT" serializeAs="String">
                <value>Frequency</value>
            </setting>
            <setting name="radioButton_RS" serializeAs="String">
                <value>Interface</value>
            </setting>
            <setting name="button_Read_All_To_Device" serializeAs="String">
                <value>Read all from the device</value>
            </setting>
            <setting name="vihod_upr_logometrom" serializeAs="String">
                <value>Control output ratiometer</value>
            </setting>
            <setting name="checkBox_LogometrConnect" serializeAs="String">
                <value>Enable ratiometer</value>
            </setting>
            <setting name="buttonTestLogometr" serializeAs="String">
      <value>Test: 1 / 2 tank</value>
            </setting>
            <setting name="radioButton_CustomR" serializeAs="String">
                <value>Table</value>
            </setting>
            <setting name="buttonDeviceReadOut" serializeAs="String">
                <value>Read from the device</value>
            </setting>
            <setting name="groupbox3" serializeAs="String">
                <value>Output voltage</value>
            </setting>
            <setting name="groupBox2" serializeAs="String">
                <value>Output - signal "RESERVE"</value>
            </setting>
            <setting name="label_porog_srabativ" serializeAs="String">
                <value>Response threshold in% of total</value>
            </setting>
            <setting name="label_recommend" serializeAs="String">
                <value>Recommended value 15%</value>
            </setting>
            <setting name="label_max_U" serializeAs="String">
                <value>Maximum output voltage, V</value>
            </setting>
            <setting name="tabPage1" serializeAs="String">
                <value>DUT №1 configuration</value>
            </setting>
            <setting name="tabPage2" serializeAs="String">
                <value>DUT №2 configuration</value>
            </setting>
            <setting name="tabPage3" serializeAs="String">
                <value>DUT №3 configuration</value>
            </setting>
            <setting name="tabPage4" serializeAs="String">
                <value>DUT №4 configuration</value>
            </setting>
            <setting name="tabPage5" serializeAs="String">
                <value>Configuring Outputs</value>
            </setting>
            <setting name="button_Write_All_To_Device" serializeAs="String">
                <value>Write all data o device</value>
 </setting>
            <setting name="Label_welcome" serializeAs="String">
                <value>BSUIR 2010г. </value>
            </setting>
            <setting name="label_US_DUT" serializeAs="String">
                <value>US DUT. </value>
            </setting>
            <setting name="label_SUM_LIGHT" serializeAs="String">
                <value>Adder light. </value>
            </setting>
            <setting name="Error_points_quantity" serializeAs="String">
                <value>You can not enter more than 30 points</value>
            </setting>
            <setting name="label_US_DUT_Analog" serializeAs="String">
                <value>US DUT light analog </value>
            </setting>
            <setting name="label_US_DUT_Freq" serializeAs="String">
                <value>US DUT light frequency. </value>
            </setting>
            <setting name="Loading_v" serializeAs="String">
                <value>Hardware V. </value>
            </setting>
            <setting name="Write_error" serializeAs="String">
                <value>Write error!</value>
            </setting>
            <setting name="Request_delete_points" serializeAs="String">
                <value>Delete all points of the current DUT?</value>
            </setting>
            <setting name="Attention" serializeAs="String">
                <value>Attention !!!</value>
            </setting>
            <setting name="Freq" serializeAs="String">
                <value>Frequency, Hz - </value>
            </setting>
            <setting name="Vol" serializeAs="String">
                <value>; Volume,l - </value>
            </setting>
            <setting name="Req_del_point" serializeAs="String">
                <value>Delete point?</value>
            </setting>
            <setting name="Disconnect" serializeAs="String">
                <value>Disconnext</value>
            </setting>
            <setting name="Connect" serializeAs="String">
                <value>Connect</value>
            </setting>
            <setting name="Label_vers_hardw_not_support" serializeAs="String">
                <value>Firmware version on your device does not support this feature</value>
            </setting>
            <setting name="Log_test" serializeAs="String">
                <value>Test ratiometer.</value>
            </setting>
            <setting name="Vol_tabl" serializeAs="String">
                <value>Volume,l</value>
            </setting>
            <setting name="Freq_tabl" serializeAs="String">
                <value>Frequency, Hz</value>
            </setting>
        </BridgeToolBox.Properties.Settings>
    </userSettings>
</configuration>