<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PortSettings>
    <Port>COM3</Port>
    <Baud>19200</Baud>
    <BootBaud>19200</BootBaud>
    <Timeout>1000</Timeout>
  </PortSettings>
  <PrimarySettings>
    <JumpAddr>1019</JumpAddr>
    <JumpCode>123</JumpCode>
    <PassAddr>0</PassAddr>
  </PrimarySettings>
  <UserSettings>
    <FullChipErase>false</FullChipErase>
    <VersionRequest>true</VersionRequest>
    <PasswordRequest>false</PasswordRequest>
    <JumpToBootloader>true</JumpToBootloader>
    <OneWireMode>false</OneWireMode>
    <ModbusID>99</ModbusID>
  </UserSettings>
</Settings>